.booking-picture {
  height: 400px;
  width: 400px;
  border-radius: 50%;
}

.booking-icon {
  height: 40px;
}

.booking-container{
  margin-top: 40px;
}

.booking-details {
  margin-top: 40px;
  margin-bottom: 100px;
  padding: 20px 15px;
  border: 2px solid #1a2f42;
  border-radius: 10px;
}

.booking-details h5 {
  margin-top: 10px;
  font-weight: bold;
  text-decoration: underline;
  color: #1a2f42;
}

.booking-details p {
  color: #1a2f42;
  font-size: 16px;
}
