// Import page-specific CSS files here.
@import "home";

.container {
  width: 90%;
  max-width: 1400px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  color: #1a2f42;
  margin: 20px 0;
  padding-bottom: 20px;
  text-align: center;
  letter-spacing: 1.5px;
}

h2 {
  color: #1a2f42;
  letter-spacing: 1.5px;
}

h1 span {
  display: inline;
}

h1 span:nth-child(1) {
  font-weight: normal;
  color: #01AEDD;
}

.searchbar-container {
  margin: 50px;
  width: 480px;
  background: #fafafa;
  border-radius: 50px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 4px 4px rgba(0,0,0,0.23);
}

.searchbar-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

// search bar
// .search-box{
//   width: fit-content;
//   height: fit-content;
//   position: relative;
// }

.where-search, .when-search, .with-search {
  border-style: none;
  height: 40px;
  width: 120px;
  background-color: transparent;
  text-align: center;
}

.where-search, .with-search {
  border-right: 2px solid #1a2f42;
  margin-left: 10px;
}

.where-search::placeholder, .when-search::placeholder, .with-search::placeholder {
  text-align: center;
  color: #1a2f42;
}

.btn-search {
  width: 35px;
  height: 35px;
  border: none;
  background-color: #01AEDD;
  border-radius: 50px;

  &:hover {
    color: #fafafa;
  }
}

// index sections

.index-section {
  width: 100%;
  margin-top: 80px;
}

.index-section-heading {
  border-bottom: 2px solid #1a2f42;
}

.index-map {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}
