.row {
  max-width: 900px;
  margin: 0 auto;
  padding-bottom: 140px;
}

.column {
  display: flex;
  padding-bottom: 20px;
}

.heading-content {
  flex-grow: 1;
}

.heading-content h3 {
  font-size: 25px;
  color: #1a2f42;
  font-weight: 500;
  padding: 0 15px;
  position: sticky;
  top: 100px;
}

.heading-content p {
  font-size: 16px;
  color: #1a2f42;
  padding: 0 15px;
}

.yacht-img-show {
  height: 400px;
  width: 600px;
  border-radius: 10px;
}

.infos-content {
  flex-grow: 1;
}

.infos-content h3 {
  font-size: 25px;
  color: #1a2f42;
  font-weight: 500;
  padding: 0 15px;
  position: sticky;
  top: 100px;
}

.infos-container {
  height: auto;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.infos-container p {
  font-size: 16px;
  color: #1a2f42;
  padding: 0 20px;
}

.infos-container h4 {
  font-size: 20px;
  color: #1a2f42;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #1a2f42;
  border-radius: 10px;
}

.details h5 {
  margin-top: 10px;
  margin-left: 20px;
  font-weight: bold;
  text-decoration: underline;
  color: #1a2f42;
  margin-bottom: 15px;
}

.yacht-icon {
  height: 40px;
}

.booking-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #1a2f42;
  border-radius: 10px;
  height: 600px;
}

.before-reservation {
  padding: 40px 0px;
}
