<h1>Enjoy your trip</h1>
<br>
<h2>your reservation:</h2>
<br>
<p>You will navigates on the amazing "<%= "#{@booking.yacht.name}" %>",
 with <%="#{@booking.voyager}"%> sea bass.
 you will lives your dream from <%="#{@booking.start_date}"%> to <%="#{@booking.end_date}"%></p>
