<div class="container">
  <h1>
    <span>Our available yacths</span>
    <span>all over the world</span>
  </h1>
  <div class="card-container">

    <div class="card-wrapper">
      <div class="card">
        <div class="card-front">
          <p>Ruby code</p>
          <div class="card-price">
            <span>Prix loc</span>
          </div>
          <i class="arrow-icon fas fa-arrow-right"></i>
        </div>
        <div class="card-back">
          <a href="#" class="btn">Rent this yacht</a>
        </div>
      </div>
    </div>
  </div>
</div>
