.list-btn a {
  margin: 0 20px;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  color: #1a2f42;
  display: inline-block;
  position: relative;
}

.list-btn a::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -3px;
  width: 100%;
  height: 1px;
  transform: scaleX(0);
  transform-origin: left;
  background: #333;
  transition: transform 0.3s ease-out;
}

.list-btn a:hover::after {
  transform: scaleX(1)
}

.add-btn {
  text-decoration: none;
  // display: inline-block;
  padding: 10px 5px;
  border-radius: 10px;
  color: #fafafa;
  font-size: 16px;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color;
    border-radius: 10px;
    z-index: -2;
  }
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: darken($color, 15%);
    transition: all .3s;
    border-radius: 10px;
    z-index: -1;
  }
  &:hover {
    color: #fff;
    &:before {
      width: 100%;
    }
  }
}

// $color: #0cf;

// .btn-index {
//   text-decoration: none;
//   display: inline-block;
//   padding: 1.25rem 1.25rem;
//   border-radius: 10rem;
//   color: #fff;
//   text-transform: uppercase;
//   font-size: 1rem;
//   letter-spacing: .15rem;
//   transition: all .3s;
//   position: relative;
//   overflow: hidden;
//   z-index: 1;
//   &:after {
//     content: '';
//     position: absolute;
//     bottom: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     background-color: $color;
//     border-radius: 10rem;
//     z-index: -2;
//   }
//   &:before {
//     content: '';
//     position: absolute;
//     bottom: 0;
//     left: 0;
//     width: 0%;
//     height: 100%;
//     background-color: darken($color, 15%);
//     transition: all .3s;
//     border-radius: 10rem;
//     z-index: -1;
//   }
//   &:hover {
//     color: #fff;
//     &:before {
//       width: 100%;
//     }
//   }
// }
