.form-container {
  width: 90%;
  max-width: 1400px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid #1a2f42;
  border-radius: 10px;
}

.form-content {
  margin-top: 30px;
  margin-bottom: 30px;
}

.form-input {
  width: 400px;
  color: #1a2f42;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}

.renders {
  text-align: center;
  margin-top: 30px;
}

//proprietes particulieres de chaque forme
.session-form {
  width: 500px;
}

.new-yacht-form, .registration-form {
  width: 600px;
}

.reset-password-form {
  width: 800px;
}

// form button
.form-button-text {
  color: #1a2f42;
  font-size: 16px;
  font-weight: 600;

  &:hover {
    color: #fff;
  }
}

.form-button {
  text-decoration: none;
  text-align: center;
  padding: 10px 5px;
  margin-top: 20px;
  border-radius: 10px;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color;
    border-radius: 10px;
    z-index: -2;
  }
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: darken($color, 15%);
    transition: all .3s;
    border-radius: 10px;
    z-index: -1;
  }
  &:hover {
    color: #fff;
    &:before {
      width: 100%;
    }
  }
}
