.yacht-img {
  width: 100%;
  height: 200px;
}

.yacht-img-show {
  width: 100%;
  height: auto;
  // object-fit: cover;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 30px;
  margin: 80px 0;
}

.card-wrapper {
  position: relative;
  min-height: 350px;
  perspective: 2000px;
  perspective-origin: top;
}

.card-wrapper:hover .card {
  transform: rotateY(180deg);
}

.card {
  position: relative;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.8s cubic-bezier(0.86,0,0.07,1);
  color: black;
  font-weight: bold;
}

.card-front, .card-back {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 30px;
  // border-radius: 8px;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.card-front {
  background: #fafafa;
  // border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

// .card-wrapper:nth-child(even) .card-front {
//   background: #1a2f42;
//   color: #fafafa;
//   font-weight: bold;
// }

.card-front p {
  font-size: 25px;
  line-height: 35px;
}

.arrow-icon {
  position: absolute;
  right: 30px;
  bottom: 20px;
}

.card-price {
  padding-top: 10px;
}

.card-price span {
  font-size: 16px;
}

.card-back {
  background: #1a2f42;
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
}

// .card-wrapper:nth-child(even).card-back {
//   background: #1a2f42;
// }

// .card-wrapper:nth-child(even).card-back {
//   background: #01AEDD;
// }

.card-back a {
  display: inline-block;
  border-radius: 10px;
  padding: 15px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: bold;
  background-color: #fff;
  font-size: 14px;
  color:  #1a2f42;
  transition: background-color 0.3s ease-out,
  color 0.3s ease-out;

  &:hover {
    background-color: #01AEDD;
    color: #fff;
  }
}
